Host mendel1
    Hostname mendel1.stanford.edu
    ForwardAgent yes
    IdentityFile ./keys/mendel_rsa

Host mendel2
    Hostname mendel2.stanford.edu
    ForwardAgent yes
    IdentityFile ./keys/mendel_rsa

Host mendel3
    Hostname mendel3.stanford.edu
    ForwardAgent yes
    IdentityFile ./keys/mendel_rsa

Host mendel4
    Hostname mendel4.stanford.edu
    ForwardAgent yes
    IdentityFile ./keys/mendel_rsa

Host mendel5
    Hostname mendel5.stanford.edu
    ForwardAgent yes
    IdentityFile ./keys/mendel_rsa
