Host mendel1
    Hostname 20.20.20.101
    ForwardAgent yes
    IdentityFile ./keys/mendel_rsa

Host mendel2
    Hostname 20.20.20.102
    ForwardAgent yes
    IdentityFile ./keys/mendel_rsa

Host mendel3
    Hostname 20.20.20.103
    ForwardAgent yes
    IdentityFile ./keys/mendel_rsa

Host mendel4
    Hostname 20.20.20.104
    ForwardAgent yes
    IdentityFile ./keys/mendel_rsa

Host mendel5
    Hostname 30.30.30.105
    ForwardAgent yes
    IdentityFile ./keys/mendel_rsa
